In [1]:
#Dependencies
import requests
import json
import pandas as pd
from apikey import api_key

In [2]:
#Create base urls
baseurl2017 = "https://api.census.gov/data/2017/acs/acs1/profile?get="
baseurl2016 = "https://api.census.gov/data/2016/acs/acs1/profile?get="
baseurl2015 = "https://api.census.gov/data/2015/acs/acs1/profile?get="
baseurl2014 = "https://api.census.gov/data/2014/acs/acs1/profile?get="
baseurl2013 = "https://api.census.gov/data/2013/acs/acs1/profile?get="

#Create suffix for url
suffix = "&for=county:095&in=state:12&key=" + api_key

In [3]:
#Import csv
path = "../Resources/api_pulls.csv"
file = pd.read_csv(path)

In [4]:
#Begin For-Loops & Pulling APIs

#2017
url = baseurl2017
for row in file["2017_Variable"]:
    url = url + row + ","
url = url[:-1]
url = url + suffix    
response2017 = requests.get(url).json()

#2016
url = baseurl2016
for row in file["2016_Variable"]:
    url = url + row + ","
url = url[:-1]
url = url + suffix    
response2016 = requests.get(url).json()

#2015
url = baseurl2015
for row in file["2015_Variable"]:
    url = url + row + ","
url = url[:-1]
url = url + suffix    
response2015 = requests.get(url).json()

#2014
url = baseurl2014
for row in file["2014_Variable"]:
    url = url + row + ","
url = url[:-1]
url = url + suffix    
response2014 = requests.get(url).json()

#2013
url = baseurl2013
for row in file["2013_Variable"]:
    url = url + row + ","
url = url[:-1]
url = url + suffix    
response2013 = requests.get(url).json()

In [5]:
#Begin assigning to dictionaries

#2017
dict2017 = {}
counter = 0
for row in file["Label_Name"]:
    dict2017[row] = response2017[1][counter]
    counter = counter + 1

#2016
dict2016 = {}
counter = 0
for row in file["Label_Name"]:
    dict2016[row] = response2016[1][counter]
    counter = counter + 1

#2015
dict2015 = {}
counter = 0
for row in file["Label_Name"]:
    dict2015[row] = response2015[1][counter]
    counter = counter + 1

#2014
dict2014 = {}
counter = 0
for row in file["Label_Name"]:
    dict2014[row] = response2014[1][counter]
    counter = counter + 1

#2013
dict2013 = {}
counter = 0
for row in file["Label_Name"]:
    dict2013[row] = response2013[1][counter]
    counter = counter + 1

In [6]:
#DF Merge
df = pd.DataFrame([dict2013, dict2014, dict2015, dict2016, dict2017], index=[2013, 2014, 2015, 2016, 2017])

#Write to csv -tbd when variables are set

In [11]:
df.head()

,Age of 20 to 24 years,Age of 25 to 34 years,Age of 35 to 44 years,Age of 45 to 54 years,Age of 55 to 59 years,Age of 60 to 64 years,Age of 65 to 74 years,Age of 75 to 84 years,Age of 85 years and over,Average Family Size,...,Race - Asian,Race - Black or African American,Race - Black or African American and American Indian and Alaska Native,Race - Hispanic or Latino,Race - Native Hawaiian and Other Pacific Islander,Race - Other,Race - White,Race - White and American Indian and Alaska Native,Race - White and Asian,Race - White and Black or African American
2013,108345,198531,172178,169121,73511,57273,74589,40171,13642,3.45,...,64141,248674,2684,1225267,393,95244,771637,4413,7371,9614
2014,106593,204941,175876,171966,74344,61414,79420,38027,17620,3.40,...,64590,260845,660,1253001,623,66597,819441,3694,7878,10523
2015,107252,215114,180496,174959,76126,65107,84662,37881,19316,3.30,...,68409,263369,1306,1288126,1617,85157,829874,3874,8804,11182
2016,105781,220809,184048,176506,79107,67183,88981,41494,16964,3.34,...,70844,276302,1229,1314367,50,67741,851713,4753,6637,12551
2017,105130,227501,189625,179293,84185,65838,95903,43134,18925,3.47,...,69335,286324,633,1348975,1623,107587,831468,4357,10259,15643